/* ========================================================================= */
/* AUTHENTICATION PAGES */

/* Center the link text below the form */
.auth-footer {
    margin-top: var(--space-m);
    font-size: var(--font-size-s);
    color: var(--text-colour-secondary);
    text-align: center;
}

.auth-footer a {
    color: var(--text-colour-primary);
    font-weight: bold;
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}