{% extends "base.html" %}

{% block content %}
<div class="content-area">
    <h1 class="content-header">{{ title }}</h1>

    <form action="" method="post" id="auth-form" class="card glass">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <span class="input-label">{{ form.username.label }}</span>
            <span class="input-field">{{ form.username(size=32) }}</span>
        </div>
        <div class="input-group">
            <span class="input-label">{{ form.password.label }}</span>
            <span class="input-field">{{ form.password(size=32) }}</span>
        </div>
        <div class="input-submit">
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
